@charset "UTF-8";

body{
    background: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.600);
}

div{  
    padding-bottom: 10px;
}

#lista{
    width: 200px;
}

#analisador > p {
    margin-bottom: 10px;
}

input[type="button"]{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}